<div class="container">
    <h3 mat-dialog-title *ngIf="flag == 1">Dodavanje hotela</h3>
    <h3 mat-dialog-title *ngIf="flag == 2">Ažuriranje hotela: {{data.naziv}}</h3>
    <h3 mat-dialog-title *ngIf="flag == 3">Brisanje hotela: {{data.naziv}}</h3>

    <form class="mat-dialog-content" #formControl="ngForm">
       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="Naziv" name="naziv" [disabled]="flag==3" [(ngModel)]="data.naziv" required />
        </mat-form-field>
       </div>

       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="BrojZvezdica" name="brojZvezdica" [disabled]="flag==3" [(ngModel)]="data.brojZvezdica" required />
        </mat-form-field>
       </div>
    
       <div class="form">
        <mat-form-field class="form-field">
            <input matInput placeholder="Opis" name="opis" [disabled]="flag==3" [(ngModel)]="data.opis" required />
        </mat-form-field>
       </div>

       <div class="form">
        <mat-form-field class="form-field">
            <mat-select name="Hotel" [compareWith]="compare" [disabled]="flag==3" [(ngModel)]="data.destinacija" required >
                <mat-option *ngFor="let destinacija of destinacije" [value]="destinacija">
                    {{destinacija.mesto}}
                </mat-option>
            </mat-select>
        </mat-form-field>
       </div>

    </form>

    <div class="form-field mat-dialog-actions">
        <button mat-raised-button color="primary" *ngIf="flag == 1" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="add()">Sačuvaj</button>
        <button mat-raised-button color="primary" *ngIf="flag == 2" type="submit" mat-dialog-close="1" [disabled]="!formControl.valid" (click)="update()">Modifikuj</button>
        <button mat-raised-button color="primary" *ngIf="flag == 3" mat-dialog-close="1" (click)="delete()">Obriši</button>
        <button mat-raised-button color="warn" (click)="cancel()">Poništi</button>
    </div>
</div>
