
              
<div class="AuthorTabela">
    <table>
        <tr>
            <td>
                <h3>Miloš Pejić</h3>
                <ul>
                    <li>Adresa: Ulica Dr. Sime Milosevica 10</li>
                    <li>Datum rođenja: 11.03.2001</li>
                    <li>Telefon : 064 943 5878</li>
                    <li>E adresa: milospejic2001@gmail.com</li>
                </ul>
           </td>
            <td>
                <img src="../../../../assets/milosslika.jpg"/>
            </td>
        </tr>
        <tr>
            <td>Radno iskustvo</td>
            <td>Bez radnog iskustva</td>
        </tr>
        <tr>
            <td>Obrazovanje</td>
            <td>
                 <ul>
                    <li>2020-U toku  Student osnovnih akademskih studija</li>
                    <li>Fakultet tehničkih nauka, Novi Sad</li>
                    <li>Studijski program: Inženjerstvo informacionih sistema</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Jezičke veštine</td>
            <td>Engleski jezik, Ruski jezik</td>
        </tr>
        <tr>
            <td>Digitalne veštine</td>
            <td>
                <ul>
                    <li>Microsoft Office</li>
                    <li>C#</li>
                    <li>Java</li>
                    <li>HTML,CSS, JavaScript</li>
                    <li>React,Angular</li>
                    <li>Spring</li>
                </ul>
            </td>
        </tr>
        <tr>
        <td>Opšte veštine</td>
        <td>
            <ul>
                <li>Timski rad</li>
                <li>Dobra komunikacija sa saradnicima</li>
                <li>Samostalnost u izvršavanju sopstvenih obaveza</li>
                <li>Odgovornost</li>
                <li>Kolegijalnost</li>
                <li>Dobra organizacija vremena i posla</li>
                <li>Želja za usavršavanjem</li>
            </ul>
        </td>
        </tr>
    </table>
</div>
            
        
        
