
              
<div class="AboutTabela">
    <table>
        <tr>
            <td>
                <h3>O nama</h3>
                <ul>
                    <li>Adresa: Ulica Kneza Milana 23</li>
                    <li>Datum osnivanja: 05.06.2023</li>
                    <li>Telefon : +381 64 943 5878</li>
                    <li>Naziv: MultiLayer&Co</li>
                </ul>
           </td>
            
        </tr>
        <tr>
            <td>Osnovna delatnost</td>
            <td>Izrada softverskih rešenja</td>
        </tr>
        <tr>
            <td>Tehnoligije koje koristimo</td>
            <td>
                 <ul>
                    <li>Java</li>
                    <li>Spring</li>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>HTML,CSS</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>Najpoznatiji projekat</td>
            <td>Aplikacija za vođenje evidencije o turističkim agencijama</td>
        </tr>
    </table>
</div>
            
        
        
