<div class="HomeTabela">
    <table>
        <tr>
            <td>
                <h3>Dobrodošli!</h3>
                
                    Ovo je početna stranica aplikacije za vođenje evidencije o turističkim agencijama
                
           </td>  
        </tr>
        <tr>
            <td>
                <h3>O čemu sve vodimo evidenciju?</h3>
                
                    Ova aplikacija vodi evidenciju o sledećim entitetima:
                    <ul>
                        <li>Turistčke agencije</li>
                        <li>Destinacije</li>
                        <li>Hoteli</li>
                        <li>Aranžmani</li>
                    </ul>
                
           </td>  
        </tr>
        <tr>
            <td>
                <h3>Koje tehnologije su korišćene!</h3>
                    
                    Pri izradi ove višeslojne aplikacije korišćene su sledeće tehnologije:
                        <ul>
                            <li>Spring</li>
                            <li>Java</li>
                            <li>Angular</li>
                            <li>TypeScript</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>Git</li>
                        </ul>
            </td>  

        </tr>
    </table>
</div>
            
        
        
